@model CreateContactDto
<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            <h6 class="section-title text-center text-primary text-uppercase">BİZE ULAŞIN</h6>
            <h1 class="mb-5"><span class="text-primary text-uppercase">TÜM SORULARINIZ İÇİN</span> BİZE ULAŞABİLİRSİNİZ </h1>
        </div>
        <div class="row g-4">
            <div class="col-12">
                <div class="row gy-4">
                    <div class="col-md-4">
                        <h6 class="section-title text-start text-primary text-uppercase">Rezervasyon</h6>
                        <p><i class="fa fa-envelope-open text-primary me-2"></i>info@vuralsayan.com</p>
                    </div>
                    <div class="col-md-4">
                        <h6 class="section-title text-start text-primary text-uppercase">Genel Sorularınız</h6>
                        <p><i class="fa fa-envelope-open text-primary me-2"></i>info@vuralsayan.com</p>
                    </div>
                    <div class="col-md-4">
                        <h6 class="section-title text-start text-primary text-uppercase">TEKNİK SORULARINIZ</h6>
                        <p><i class="fa fa-envelope-open text-primary me-2"></i>info@vuralsayan.com</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 wow fadeIn" data-wow-delay="0.1s">
                <iframe class="position-relative rounded w-100 h-100"
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1499.1683019332181!2d31.419595280716738!3d41.27977813465162!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x409c44b706bedcdb%3A0x3f83c4adc7115771!2zRXJlxJ9saSBBbsSxdCBPbsO8!5e0!3m2!1str!2str!4v1714019381390!5m2!1str!2str"
                        frameborder="0" style="min-height: 350px; border:0;" allowfullscreen="" aria-hidden="false"
                        tabindex="0"></iframe>
            </div>

            <div class="col-md-6">
                <div class="wow fadeInUp" data-wow-delay="0.2s">
                    <form method="post" asp-action="SendMessage" asp-controller="Contact">
                        <div class="row g-3">
                            <div class="col-md-6">
                                <div class="form-floating">
                                    <input type="text" class="form-control" asp-for="Name" placeholder="Adınız Soyadınız">
                                    <label for="name">Adınız Soyadınız</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-floating">
                                    <input type="email" class="form-control" asp-for="Mail" placeholder="Mail Adresiniz">
                                    <label for="email">Mail Adresiniz</label>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-floating">
                                    <select class="form-control" asp-for="MessageCategoryID" asp-items="@ViewBag.v"> </select>
                                    <label for="subject">Mesajın Konusu</label>
                                </div>
                                <br />
                                <div class="form-floating">
                                    <input type="text" class="form-control" asp-for="Subject" placeholder="Konu Başlığı">
                                    <label for="subject">Konu Başlığı</label>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-floating">
                                    <textarea class="form-control" placeholder="Mesajınızı buraya yazabilirsiniz" asp-for="Message" style="height: 150px"></textarea>
                                    <label for="message">Mesajınız</label>
                                </div>
                            </div>
                            <div class="col-12">
                                <button class="btn btn-primary w-100 py-3" type="submit">Mesajı Gönder</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>