@model List<ResultWorkLocationDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/_AdminLayout.cshtml";
}


<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Lokasyon Adı</th>
        <th>Şehir</th>
        <th>Sil</th>
        <th>Güncelle</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <th>@item.WorkLocationID</th>
            <td>@item.WorkLocationName</td>
            <td>@item.WorkLocationCity</td>
            <td><a href="/AdminWorkLocation/DeleteWorkLocation/@item.WorkLocationID" class="btn btn-danger">Sil</a></td>
            <td><a href="/AdminWorkLocation/UpdateWorkLocation/@item.WorkLocationID" class="btn btn-success">Güncelle</a></td>
        </tr>
    }
</table>

<a href="/AdminWorkLocation/AddWorkLocation/" class="btn btn-info">Yeni Lokasyon Girişi</a>